<h1>Listing Recipes in a super amazing design.</h1>
 
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
    </tr>
  </thead>
 
  <tbody>
    <% @recipes.each do |recipe| %>
        <tr>
          <td><%= link_to "#{recipe[:title]}", controller: "recipes", action: "show", details: recipe[:details] %></td>
          <td><%= image_tag(recipe[:image]) %></td>
        </tr>
      <% end %>
  </tbody>
</table>
 