<h1>Listing Recipe details in a super amazing design.</h1>
<% if @details.present? %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Image</th>
      <th>Tags</th>
      <th>Description</th>
      <th>Chef</th>
    </tr>
  </thead>
 
  <tbody>
    <tr>
      <td><%= @details[:title] %></td>
      <td><%= image_tag(@details[:image]) %></td>
      <td><%= @details[:tags] %></td>
      <td><%= @details[:description] %></td>
      <td><%= @details[:chef] %></td>
    </tr>
  </tbody>
</table>
<% else %>
<h1> Please choose a recipe from Index</h1>
<% end %>